@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::before {
  box-sizing: border-box; }

*::after {
  box-sizing: border-box; }

* {
  transition: all 1s; }

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh; }

.code-wrapper {
  flex: 1;
  padding: 10px;
  height: 50%; }
  .code-wrapper #code {
    height: 100%;
    overflow: hidden; }

.preview-wrapper {
  flex: 1;
  height: 50%; }

.actions {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column; }
  .actions button {
    margin: 10px;
    padding: 8px 10px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: none; }
    .actions button:active {
      background-color: #b9afaf;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); }
    .actions button:focus {
      outline: none; }
    .actions button.active {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      background: #93DCE3; }

/*
 * 我叫 dogezhou
 * 今天来画一个《一拳超人》中的主角琦玉老师，
 * 首先添加画布
 */
.preview {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #93DCE3;
  background: linear-gradient(#93DCE3 70%, #D9F0F2 100%); }

/*
 * 然后画出他的脸，一定要画出精确的弧度
 */
.face {
  position: relative;
  width: 212px;
  height: 308px;
  background: #E2B5A0;
  border: 3px solid #0C0807;
  border-top-left-radius: 48% 42%;
  border-top-right-radius: 48% 42%;
  border-bottom-right-radius: 50% 54%;
  border-bottom-left-radius: 50% 54%; }

/*
 *
 */
/*
 * 然后是琦玉老师的眉毛
 */
.eyebrow {
  position: absolute;
  top: 126px;
  width: 46px;
  height: 4px;
  border: 2px solid #0C0807;
  border-bottom: 0;
  border-top-left-radius: 50% 98%;
  border-top-right-radius: 50% 98%; }
  .eyebrow.left {
    left: 36px; }
  .eyebrow.right {
    right: 36px; }

/*
 * 然后是琦玉老师的眼睛
 */
.eye {
  position: absolute;
  top: 145px;
  width: 50px;
  height: 28px;
  border: 2px solid #0C0807;
  background: #EAE6E3;
  border-top-left-radius: 70% 40%;
  border-top-right-radius: 70% 40%;
  border-bottom-right-radius: 60% 80%;
  border-bottom-left-radius: 60% 80%;
  /* 左眼放到左边 */
  /* 右眼放到右边 */ }
  .eye.left {
    left: 28px; }
  .eye.right {
    right: 28px; }

/*
 * 然后是琦玉老师的眼珠子
 */
.eyeball {
  position: absolute;
  top: 154px;
  width: 4px;
  height: 4px;
  background: #0C0807;
  border-radius: 50px; }
  .eyeball.left {
    left: 56px; }
  .eyeball.right {
    right: 56px; }
